//- +breadcrumb(
//- 	{pageName: 'pageName', dir: 'dir' || false}
//- )
mixin breadcrumb(id, ...items)
	ol(class=id)
		each item in items
			if(item.dir)
				li
					a(href=item.dir)
						=item.pageName
			else
				li=item.pageName

//- +gnav(
//- 	{pageName: 'pageName', dir: 'dir'}
//- )
mixin gnav(id, ...items)
	ul(class=id)
		each item in items
			li
				if(item.dir == currentDirectory)
					a.is_active(href="/" + item.dir)
						| !{item.pageName}
						br
						span
							| !{item.pageNameEn}
				else
					a(href="/" + item.dir)
						| !{item.pageName}
						br
						span
							| !{item.pageNameEn}

//- +srcset(imgName, alt)
mixin srcset(imgName, alt)
	img(src=root + 'images/' + imgName + '.png', srcset=root + 'images/' + imgName + '@2x.png 2x', alt=alt)

//- +prefectures(true || false)
mixin prefectures(required)
	select(name='prefectures', required=required)
		option(value='', selected='selected')
			| 【選択して下さい】
		optgroup(label='北海道・東北地方')
			option(value='北海道')
				| 北海道
			option(value='青森県')
				| 青森県
			option(value='岩手県')
				| 岩手県
			option(value='秋田県')
				| 秋田県
			option(value='宮城県')
				| 宮城県
			option(value='山形県')
				| 山形県
			option(value='福島県')
				| 福島県
		optgroup(label='関東地方')
			option(value='栃木県')
				| 栃木県
			option(value='群馬県')
				| 群馬県
			option(value='茨城県')
				| 茨城県
			option(value='埼玉県')
				| 埼玉県
			option(value='東京都')
				| 東京都
			option(value='千葉県')
				| 千葉県
			option(value='神奈川県')
				| 神奈川県
		optgroup(label='中部地方')
			option(value='山梨県')
				| 山梨県
			option(value='長野県')
				| 長野県
			option(value='新潟県')
				| 新潟県
			option(value='富山県')
				| 富山県
			option(value='石川県')
				| 石川県
			option(value='福井県')
				| 福井県
			option(value='静岡県')
				| 静岡県
			option(value='岐阜県')
				| 岐阜県
			option(value='愛知県')
				| 愛知県
		optgroup(label='近畿地方')
			option(value='三重県')
				| 三重県
			option(value='滋賀県')
				| 滋賀県
			option(value='京都府')
				| 京都府
			option(value='大阪府')
				| 大阪府
			option(value='兵庫県')
				| 兵庫県
			option(value='奈良県')
				| 奈良県
			option(value='和歌山県')
				| 和歌山県
		optgroup(label='四国地方')
			option(value='徳島県')
				| 徳島県
			option(value='香川県')
				| 香川県
			option(value='愛媛県')
				| 愛媛県
			option(value='高知県')
				| 高知県
		optgroup(label='中国地方')
			option(value='鳥取県')
				| 鳥取県
			option(value='島根県')
				| 島根県
			option(value='岡山県')
				| 岡山県
			option(value='広島県')
				| 広島県
			option(value='山口県')
				| 山口県
		optgroup(label='九州・沖縄地方')
			option(value='福岡県')
				| 福岡県
			option(value='佐賀県')
				| 佐賀県
			option(value='長崎県')
				| 長崎県
			option(value='大分県')
				| 大分県
			option(value='熊本県')
				| 熊本県
			option(value='宮崎県')
				| 宮崎県
			option(value='鹿児島県')
				| 鹿児島県
			option(value='沖縄県')
				| 沖縄県

//- +year_month_day(ture || false, start_year, end_year)
mixin year_month_day(required, start_year, end_year)
	select(name='year', required=required)
		option(value='', selected='selected') -
		- var y = start_year
		while y <= end_year
			option(value=y + '年')=y++ + '年'
	select(name='month', required=required)
		option(value='', selected='selected') -
		- var m = 1
		while m <= 12
			option(value=m + '月')=m++ + '月'
	select(name='day', required=required)
		option(value='', selected='selected') -
		- var d = 1
		while d <= 31
			option(value=d + '日')=d++ + '日'
